*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}

.btns-wrapper,
.fibonacci-wrap,
.p-wrapper,
.changesGistory-wrap{
	display: flex;
}

.btn,
.fib-btn{
	width: 30px;
	height: 30px;
	margin: 10px;
}

.colorChanger{
	width: 40px;
	height: 40px;
	margin: 20px;
	background-color: lightgrey;
}

.changer-wrapper{
	width: 100px;
	margin: 10px;

	.changes{
		width: 100%;
	}

	span{
		width: 48%;
		display: inline-block;
		padding: 10px;
		cursor: pointer;

		&.left{
			text-align: left;
		}

		&.right{
			text-align: right;
		}
	}
}


